body {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #94acac;
    height: 100%;
    position: relative;
}

.container {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 0;
}

.page {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0vh;
}

p {
    font-size: 20px;
}