body {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    height: 100%;
    position: relative;
}

.container {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 0;
}

.text {
    height: 85vh;
    max-height: 90vh;
    width: 50%;
    overflow-y: auto;
}

.left {
    position: fixed;
    left: 0;
    background-color: #586a6a;
    color: white;
}

.right {
    position: fixed;
    right: 0;
    background-color: #94acac;
    color: black;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 90vh;
}