body {
    margin: auto;
    grid-template-rows: auto 1fr auto;
    display: grid;
    width: 100%;
}

nav {
    margin: auto;
    text-align: center;
    display:grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

nav a {
    background-color: #c6c5b9;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    text-decoration: none;
    font-size: larger;
    padding: 10px 0 10px 0;
}
nav a:hover {
    background-color: #393d3f;
    color: #c6c5b9;
}

footer {
    display: grid;
    justify-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-template-rows: repeat(2, auto);
    background-color: #c6c5b9;
    padding: 1vh 0vh 1vh 0vh;
    font-size: large;
}

footer p {
    width: fit-content;
    color: black;
    margin: 0;
    text-align: center;
    font-size: medium;
}

@media (max-width:500px) {
    nav {
        grid-template-columns: repeat(1, auto);
        padding: 0px 0px 0px 0px;
    }
}