body {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #586a6a;
    color: white;
    height: 100%;
    position: relative;
}

.container {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 0;
}

a {
    color: white;
}

.page {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
}